.theme-selection {

  .theme-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(134px, 1fr));
    gap: .5rem;
    margin-top: 0.5rem;
  
    .theme-card {
      position: relative;
      cursor: pointer;
      
      input {
        all: unset;
        position: absolute;
        inset: 0;
      }
    }

    
    .card-content {
      background-color: var(--shape-button);
      display: flex;
      flex-direction: column;
      height: 100%;
      border-radius: .75rem;
      padding: 0.25rem;
      outline: 2px solid transparent;
      transition: all 0.16s ease;
      
      img {
        width: 100%;
        aspect-ratio: 6.3/3.2;
        object-fit: cover;
        border-radius: 0.5rem;
      }
      
      p {
        padding: .5rem 0;
        text-align: center;
      }
    }

    .theme-card:hover .card-content {
      background-color: var(--shape-hover);
    }

    .theme-card:has(:checked) .card-content {
      background-color: var(--shape-hover);
      outline: 2px solid var(--brand-light);
    }
  }

}

