@import url(fields/index.css);

form {
  margin-top: 2.5rem;
}

fieldset {
  border: none;

  display: grid;
  gap: 1rem;
}

legend {
  margin-bottom: .75rem;
}

.grid-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 1rem;
}