* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* =-=-=-=-=-=-=-=-=-=-=-= cores =-=-=-=-=-=-=-=-=-=-=-= */
  --font-family-Logo: "Leckerli One", cursive;
  --font-family-Baloo: "Baloo 2", sans-serif;
  --font-family-OpenSans: "Open Sans", sans-serif;
  
  --txt-logo: 400 2.5rem/1.5 var(--font-family-Logo);

  --heading-md: 700 1.75rem/1.5 var(--font-family-Baloo);
  --heading-sm: 700 1.125rem/1.5 var(--font-family-Baloo);

  --body-md: 600 1rem/1.5 var(--font-family-OpenSans);
  --body-sm: 600 0.875rem/1.5 var(--font-family-OpenSans);
  --body-Xsm: 500 0.75rem/1.5 var(--font-family-OpenSans);

  /* =-=-=-=-=-=-=-=-=-=-=-= cores =-=-=-=-=-=-=-=-=-=-=-= */
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --ravy: #6A59FF;

  --danger: #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383d42;
  
  --txt-body: #C8CDD0;
  --txt-heading: #F9F9F9;
}

body {
  overflow: hidden;

  font: var(--body-sm);
  color: var(--txt-body);
}

.logo {
  font: var(--txt-logo);
  color: var(--pink);
}

.txt-h2 {
  font: var(--heading-sm);
  color: var(--txt-heading);
}

.txt-light {
  font: var(--body-md);
  color: var(--txt-body);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--shape-body);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--txt-body);
  border-radius: 10px;
}